*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding: 2vh;
    background-color: rgba(240, 239, 239, 0.74);
}

section{
    height: 96vh;
    width: 80vw;
    background-color: white;
}

aside{
    height: 25vh;
    width: 18vw;
    background-color: white;
}

.header{
    height: 4vh;
    border-bottom: 1px solid rgba(228, 227, 227, 0.842);
    color: rgba(83, 81, 81, 0.829);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5vw;
    padding-right: 4vw;
}

.item{
    height: 17vh;
    border-bottom: 1px solid rgba(228, 227, 227, 0.842);
    display: flex;
    flex-direction: row;
}

.item p{
    font-size: 1.5vh;
}

.item h2{
    font-size: 2.2vh;
    color: #4BB494;
}

.logo{
    width: 7vw;
    padding-top: 1.5vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 1vw;
    /* align-items: center; */
}

.box{
    width: 4vw;
    height: 7vh;
    border: none;
    background-color: #efefefab;
}

.description{
    /* border: 1px solid red; */
    width: 50vw;
    padding-top: 1.5vh;
    color: rgb(83, 81, 81);
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.gift{
    font-size: 1.5vh;
    color: rgb(83, 81, 81);
    font-weight: 500;
}

.giftImage{
    width: 1vw;
    height: 1.5vh;
    background-image: url('./icons8-gift-48.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
}

.binImage{
    width: 1vw;
    height: 1.5vh;
    background-image: url('./icons8-trash-can-new.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: white;
}

.footer{
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.footer input[class="checkout"]{
    border-radius: 5px;
}

.priceSection{
    display: flex;
    flex-direction: row;
    padding-top: 1.5vh;
    gap: 1.5vw;
    color:rgba(83, 81, 81, 0.932);
}

.price{
    width: 8vw;
    text-align: end;
    font-size: 1.9vh;
}

.striked{
    font-size: 1.7vh;
}

.newPrice2{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    justify-content: flex-end;
}

.finalPrice{
    font-weight: bold;
    font-size: 2.1vh;
    width: 5vw;
    text-align: end;
}

.number{
    width: 2.5vw;
    height: 3vh;
    padding-left: 0.6vw;
    font-size: 1.6vh;
    color: rgba(83, 81, 81, 0.877);
    border: 1px solid #e6e5e5;
}

.summary{
    display: flex;
    flex-direction: column;
    color: rgba(83, 81, 81, 0.911);
}

.summaryTitle{
    height: 5vh;
    border-bottom: 1px solid #e6e5e5;
    padding-left: 1vw;
    padding-top: 1vh;
}

.summaryTotal{
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
    border-bottom: 1px solid #e6e5e5;
}

.summaryTotal h1{
    font-size: 3vh;
    color: rgba(83, 81, 81, 0.877);
}

.summaryFooter{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 12vh;
    padding-top: 1vh;
    padding-left: 1vw;
}

.summaryFooter p{
    font-size: 1.5vh;
}

.checkout{
    background-image: url('./icons8-shopping-cart-24.png');
    background-repeat: no-repeat;
    background-position: 0.5vh;
    color: white;
    height: 4vh;
    width: 6vw;
    font-size: 1.5vh;
    text-indent: 1vw;
    background-color: #4BB494;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #5ee2ca;
}

.continue{
    background-image: url('./cart.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2vh;
    text-indent: 1.5vw;
    background-color: white;
    height: 4vh;
    padding-right: 0.5vw;
    color: #666464;
    font-size: 1.5vh;
    border-radius: 5px;
    border: 1px solid #e6e5e5;
}

.cancel{
    height: 4vh;
    width: 4vw;
    font-size: 1.5vh;
    font-weight: 500;
    margin-left: -0.22vw;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #e6e5e5;
    color: #666464;
}

@media screen and (max-width:1200px){
    body{
        flex-direction: column;
    }

    section{
        width: 92vw;
        height: auto;
    }

    aside{
        width: 92vw;
    }

    .checkout{
        width: 35vw;
    }

    .cancel{
        width: 20vw;
        margin-left: -1vw;
    }

    .item{
        height: auto;
        padding-bottom: 2vh;
    }

    .number{
        width: 4vw;
    }

    .priceSection{
        width: 40vw;
        justify-content: flex-start;
        gap: 5vw;
    }

    .continue{
        width: 40vw;
    }

    .price{
        font-size: 1.5vh;
    }

    .finalPrice{
        font-size: 1.6vh;
    }

    .gift{
        width: 60vw;
    }

    .giftImage,
    .binImage{
        background-size: cover;
        width: 3vw;
    }

}